<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" href="/static/blog/css/bootstrap.min.css">
</head>
<body>
<div class="row"></div>
    <div class="col-md-4 col-md-offset-4" style="margin-top: 150px;">
        <a href="/index">
            <img src="/static/blog/image/logo_small.gif">
        </a>
        <p><b>404.</b>抱歉，您访问的页面不存在！</p>
        <p>请确认您输入的网址是否正确，如果问题持续存在，请发邮件至contact@cnblogs.com与我们联系。</p>
        <p><a href="/index">返回网站首页</a></p>
    </div>
</body>
</html>