{% extends "back_stage/base.html" %}


{% block content %}
    <div class="option">
        {% block title %}
            更改密码
        {% endblock title %}
    </div>
    <br>
    <form class="col-md-5">
        {% csrf_token %}
        <div class="form-group">
            <label for="old_password">原密码</label>
            <input type="password" class="form-control" id="old_password" placeholder="请输入原密码">
        </div>
        <div class="form-group">
            <label for="new_password">新密码</label>
            <input type="password" class="form-control" id="new_password" placeholder="请输入新密码">
        </div>
        <div class="form-group">
            <label for="re_password">确认密码</label>
            <input type="password" class="form-control" id="re_password" placeholder="请确认新密码">
        </div>
        <div class="form-group">
            <p><span id="error" style="color: red"></span></p>
            <button class="btn btn-primary" id="change_password" type="button">提交</button>
        </div>
    </form>
{% endblock content %}